/* 메인 콘텐트 */
#main_content { position: relative; width: 80%; height: 100%; margin-left: 10%; margin-right: 10%;
    background: #e2ddd7; }

.type_container{
    width: 100%;
    background: #e2ddd7;
    height: 100%;
}
#tmp{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 70px;
    /* margin-bottom: 70px; */
    /* background: #ddd; */
}
#type {
    
    box-sizing: border-box;
    /* background: #ffffff; */
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    width: 200px;
    height: 213px;
    font-size: 20px;
    text-align: center;
    /* outline: 2px solid #dddddd; */
    /* outline-style: groove; */

    /* border: 1px solid #343434; */
    /* border-radius: 7%; */
    
}

.type_img{
    width: 100%;
    height: 180px;
    /* margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%; */
}

.footer_magin{
    height: 90%;
    width: 100%;
    height: 70px;
    background: #e2ddd7;
}

#page_num {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    display: inline-flex;
    padding-bottom: 10px;
}
#page_num li {
    /* width : 8px; */
    display: inline;

}
